body {
	background: $body-background-color;
	color: $main-text-color;
	font-family: $main-font-family;
	font-size: $font-size-base;
	padding-top: 50px;
}

// Imagenes responsive

img, embed, object, video {
	max-width: 100%;
}

// Forms
form {
	padding: 10px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	background: $color-white;
	width: 100%;
	box-sizing: border-box;
	top: 0px;
	@include if-is-tablet {
		height: auto;
		position: relative;
		flex-flow: row wrap;
		div {
			width: calc(50% - 10px);
			margin: auto 5px;
		}
		button {
			width: 20%;
		}
	}
}

label, input, button {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

label {
	font-size: $font-size-small;
	font-weight: bold;
	text-transform: uppercase;
}

input {
	border: 1px solid $color-sirena;
	margin: 5px 0px 15px 0px;
	padding: 10px;
	font-size: $font-size-base;
	border-radius: 5px;
	&:focus {
		outline-color: $color-sirena;
		background: $color-grey;
	}
}

button {
	@extend input;
	background: $color-sirena;
	font-weight: bold;
	text-transform: uppercase;
	color: darken($color-sirena, 50%);
	transition: all 0.25s;
	&:hover {
		background: darken($color-sirena, 10%);
	}
	&:active {
		background: darken($color-sirena, 20%);
		color: $color-white;
	}
}


//Mover este estilo a un partial aparte
.drop-zone {
	@extend input;
	//background-color:$color-grey;
	background-color:red;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.25s;
	font-size: $font-size-small;
	&.drop-here {
		background: lighten($color-sirena, 20%);
	}	
}

*::selection {
	background: $color-ivory-ish;
}