body {
	// Todos los UI elements ocultos por defecto
	.ui-element {
		display: none;
	}

	// Muestra el formulario
	&.form-shown { 
		.add-icon {
			transform: rotate(135deg);
		}
		.new-song-form {
			display: flex;
		}
		@include if-is-tablet {
			.songs-list {
				display: flex;
			}		
		}
	}

	// Muestra la lista de canciones
	&.song-list-shown .songs-list {
		display: block;
		@include if-is-tablet {
			display: flex;
		}
	}
}